<nav class="navbar">
  <div class="navbar-logo">Logo</div>
  <div class="navbar-actions">
    <button (click)="logout()" class="btn-logout">
      Log out
    </button>
  </div>
</nav>

<main class="container">
  <div class="header-section">
    <h1 class="page-title">Products Catalog</h1>

    <div class="controls-wrapper">
      <div class="select-container">
        <select #catSelect (change)="filterByCategory(catSelect.value)" class="category-select">
          <option value="">All categories</option>
          <option *ngFor="let cat of categories" [value]="cat">
            {{ cat | titlecase}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-card">
    <table class="product-table">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let product of products">
          <tr class="product-row">
            <td class="product-id">{{ product.id }}</td>
            <td class="product-name">{{ product.name }}</td>
            <td class="product-actions text-right">
            <button type="button" class="btn-details" (click)="toggleDetails(product.id)">
              {{ expandedProductId === product.id ? 'Hide details' : 'Show details' }}
            </button>
            </td>
          </tr>
          <tr *ngIf="expandedProductId === product.id" class="product-details-row">
            <td colspan="3">
              <div class="product-details">
                <div><strong>ID:</strong> {{ product.id }}</div>
                <div><strong>Name:</strong> {{ product.name }}</div>
                <div><strong>Description:</strong> {{ product.description }}</div>
                <div><strong>Category:</strong> {{ product.category | titlecase }}</div>
                <div><strong>Price:</strong> {{ product.price | currency:'USD':'symbol':'1.1-2' }}</div>
              </div>
            </td>
          </tr>
        </ng-container>

        <tr *ngIf="products.length === 0">
          <td colspan="3" class="empty-state">
            <div class="empty-content">
              <h3>No results found</h3>
              <p>We couldn't find any products matching your criteria</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>